<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deepspring.libcommon">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">


        <!-- 全局Context提供者 -->
        <provider
            android:name=".common.ApplicationContextProvider"
            android:authorities="${applicationId}.contextprovider"
            android:exported="false" />

    </application>

</manifest>

